* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

#canvas {
    display: block;
}

#canvasWrapper {
    flex: 1 1 auto;
}

#header {
    height: 50px;
    width: 100%;
    background-color: black;
}
