* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 5em;
}

.header * {
    padding: .2em;
    font-size: 2.5em;
    font-family: serif;
}

.header p {
    color: white;
}

.header button {
    border: .08em solid gray;
    height: 100%;
}

.header button:focus {
    outline: none;
}

.header button:active {
    box-shadow: inset 0 0 .5em #c1c1c1;
}